<p id="notice"><%= notice %></p>
<div class="large-12 columns">
		<div class="large-12 columns image">
		<p class="large-12 columns"><%= @blog.content.html_safe %></p></div>
	
</div><br />
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
