/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require component
 *= require default
 *= require_tree .
 */

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -99999999;
	
  /* Preserve aspet ratio */
  min-width: 100%;
}

.image img {
	display: block;
	position: relative;
	left: 25%;
}


.panel {
	height: 300px;
	overflow:hidden;
	background:#FFFFFF;
	
}
.panel img {
	position: relative; 
	  top: 0; 
	  left: 0; 
		
	  /* Preserve aspet ratio */
	  min-width: 100%;
	  min-height: 100%
	  
}

.panel h5 {
	position: absolute; 
   top: 150px; 
   left: 10; 
   width: 100%; 
}

h5 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}

.blog-image-title a{
	color:#FFFFFF;
}

.pagination, .pagination a{
	color: black;
	font-family:"Arial";
}
