// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 
/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */

@mixin bg-image( $dir, $kolor, $kolortwo) {
  background-image:-webkit-linear-gradient($dir, $kolor, $kolortwo);
  background-image:-moz-linear-gradient($dir, $kolor, $kolortwo );
  background-image:linear-gradient($dir, $kolor, $kolortwo);
}

$color: #445960;
$to_grad_color: #2f3337;
$home_color: #EDE9EC;

html { height: 100%; }
body {
  background-color: $home_color;
  position: relative;
  z-index: 1;
  height: 100%;
}

img
{
  position:absolute;
  left:50px;
}

